.container{
    width:75%;
    margin: 0 auto;

}

.container h1{
    text-align: center;
}

.question{
    width:50%;
    font-size:20px;
    margin: 0 auto ;
    margin-bottom:20px;
}

.clear{
    clear:left;
}

button{
    background-color: #66aaff;
}

.buttons{
    text-align: center;
    margin-bottom:40px;
}

.kekka{
    font-size:80px;
    text-align: center;
    margin-bottom:40px;
}

.score{
    font-size:50px;
    text-align: center;
}